.sidebarRow {
  display: flex;
  align-items: center;
  padding: 2%;
  cursor: pointer;
  width: auto;
  text-decoration: none;
  text-decoration-line: none;
}

.sidebarRow:hover {
  background-color: lightgray;
  border-radius: 5rem;
}
.sidebarRow.active{
  background-color: gray;
  border-radius: 5rem;
 }

.sidebarRow p {
  margin-left: 5%;
  font-weight: 600;
  text-decoration: none;
  font-size: medium;
}

.sidebarRow > .MuiSvgIcon-root {
  font-size: xx-large;
  color: #2e81f4;
}
