:root {
  --text-color: #333;
  --link-color: #007bff;
}

.main-sidebar {
  padding: 1.7rem 0.6rem;
  flex: 0.33;
  width: 80%;
  color: var(--text-color);
}

.navbar,
.router__link {
  text-decoration: none;
  color: var(--link-color);
}
.sidebar__link{
  text-decoration: none;
}