.app {
  background-color: #f1f2f5;
  display: flexbox;
  width: 100%;
}

.app__body {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-left: 0%;
}
.app__header{
  height: 1rem;
  width: 100%;
  margin-bottom: 5%;
}