.app {
  background-color: #f1f2f5;
  display: flex;
  width: auto;
  flex-direction: column;
}

.app__body {
  display: flex;
  width: auto;
  justify-content: space-between;
  margin-left: 0%;
}
.app__header{
  height: 1rem;
  width: auto;
  margin-bottom: 5%;
}